pipeline/pl_setActivity.json
{
	"name": "pl_setActivity",
	"properties": {
		"activities": [
			{
				"name": "Set variable",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "FileName",
					"value": {
						"value": "@concat(pipeline().parameters.FileName,'.txt')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Delete1",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "Set variable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_population_raw_gz",
						"type": "DatasetReference"
					},
					"logStorageSettings": {
						"linkedServiceName": {
							"referenceName": "ls_adls_covidreportingdl",
							"type": "LinkedServiceReference"
						},
						"path": "log"
					},
					"enableLogging": true,
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"wildcardFileName": {
							"value": "@{variables('FileName')}",
							"type": "Expression"
						},
						"enablePartitionDiscovery": false
					}
				}
			}
		],
		"parameters": {
			"FileName": {
				"type": "string",
				"defaultValue": "data_cb1b8d49-2157-49e2-9358-aeb5b3f775c1_a9ef4b40-7832-4e31-896a-e9d13d2b5ee2"
			}
		},
		"variables": {
			"FileName": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-07-25T09:52:04Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}